* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper {
  width: 700px;
  height: auto;
  margin-top: 5rem;
}

.slide-card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 30px;
}

.banner-img {
  width: 300px;
  height: auto;
}

.product-img {
  width: 100px;
}

main a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  transition: all 0.3s;
  border-radius: 10px;
}

main a:hover {
  text-decoration: none;
  color: #ffff;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
}